# Core functionality - changes here should be rare!
/src/app.py                   @SingularityQ
/src/backend/database.py      @SingularityQ
/src/backend/routers/auth.py  @SingularityQ

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SingularityQ
